label {
  font-size: 16px;
}
/*
    design_add css
*/
.main-design-add {
  height: 600px;
  display: flex;
  flex-direction: column;
}
.main-design-add .input-lg {
  width: 436px;
  height: 30px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.main-design-add .bar {
  flex: 0 1 60px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
}
.main-design-add .bar-text-field {
  flex: 0 1 240px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}
.main-design-add .bar-text-field > label {
  flex: 0 0 50px;
}
.main-design-add .bar-text-field > .text-area {
  padding-top: 8px;
  padding-left: 60px;
  flex: 0 0 400px;
  margin-top: 1px;
}
.main-design-add .bar-text-field > .text-area > textarea {
  resize: none;
}
.main-design-add > .design-info {
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
}
.main-design-add > .design-info .input-file {
  position: relative;
  left: 4px;
  top: 8px;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #99D3F5;
  border-radius: 4px;
  padding: 4px 16px;
  overflow: hidden;
  color: #1E88C7;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.main-design-add > .design-info .input-file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
.main-design-add > .design-info .input-file > input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.main-design-add > .design-info .showFileName {
  display: inline;
  padding-left: 20px;
}
.main-design-add > .design-info > .design-add-submit {
  flex: 1 1 100px;
  padding-top: 20px;
}
.main-design-add > .design-info > .design-add-submit > .submit-bar {
  padding-left: 40px;
}
.main-design-add > .design-info > .design-add-submit > .submit-bar > button {
  margin-right: 20px;
}
/*
    design_list css
*/
.main-design-list {
  height: 800px;
  display: flex;
  flex-direction: column;
}
.main-design-list > .design-query-header {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1 1 120px;
  display: flex;
  flex-direction: row;
}
.main-design-list > .design-query-header > .query-info {
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
}
.main-design-list > .design-query-header > .query-info .bar {
  flex: 1 1 40px;
  padding-left: 20px;
  display: inline-block;
}
.main-design-list > .design-query-header > .query-info .btn-query {
  margin-left: 40px;
}
.main-design-list > .design-query-header > .design-operation {
  flex: 1 1 10%;
}
.main-design-list > .design-query-header > .design-operation button {
  display: block;
}
.main-design-list > .design-query-header > .design-operation button:last-child {
  margin-top: 10px;
}
.main-design-list > .design-list {
  flex: 1 1 720px;
  padding: 10px 20px 10px 20px;
}
/*
    design_detail css
*/
.main-design-detail {
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main-design-detail .input-lg {
  width: 436px;
  height: 30px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.main-design-detail .bar {
  flex: 0 1 60px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
}
.main-design-detail > .design-info {
  flex: 1 1 600px;
  display: flex;
  flex-direction: column;
}
.main-design-detail > .design-info .bar-text-field {
  flex: 0 1 240px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}
.main-design-detail > .design-info .bar-text-field > label {
  flex: 0 0 50px;
}
.main-design-detail > .design-info .bar-text-field > .text-area {
  padding-top: 8px;
  padding-left: 60px;
  flex: 0 0 400px;
  margin-top: 1px;
}
.main-design-detail > .design-info .bar-text-field > .text-area > textarea {
  resize: none;
}
.main-design-detail > .design-info > .design-modify-submit {
  flex: 1 1 100px;
  padding-top: 20px;
}
.main-design-detail > .design-info > .design-modify-submit > .submit-bar {
  padding-left: 100px;
}
.main-design-detail > .design-info > .design-modify-submit > .submit-bar > button {
  margin-right: 20px;
}
.main-design-detail > .design-img {
  flex: 1 0 200px;
  margin-top: 65px;
  margin-left: 50px;
}
.main-design-detail > .design-query-list {
  flex: 1 1 720px;
  padding: 10px 20px 10px 20px;
}
