/*
    material_add css
*/
.main-material-add {
  height: 600px;
  display: flex;
  flex-direction: column;
}
.main-material-add .input-lg {
  width: 436px;
  height: 30px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.main-material-add .bar {
  flex: 1 1 40px;
  padding-left: 20px;
  display: inline-block;
}
.main-material-add > .material-info {
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
}
.main-material-add > .material-inventory {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
}
.main-material-add > .material-add-submit {
  flex: 1 1 100px;
}
.main-material-add > .material-add-submit > .bar {
  padding-left: 40px;
}
.main-material-add > .material-add-submit > .bar > button {
  margin-right: 20px;
}
/*
    material_query css
*/
.main-material-query {
  height: 800px;
  display: flex;
  flex-direction: column;
}
.main-material-query > .material-query-header {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1 1 120px;
  display: flex;
  flex-direction: row;
}
.main-material-query > .material-query-header > .query-info {
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
}
.main-material-query > .material-query-header > .query-info .bar {
  flex: 1 1 40px;
  padding-left: 20px;
  display: inline-block;
}
.main-material-query > .material-query-header > .query-info .btn-query {
  margin-left: 40px;
}
.main-material-query > .material-query-header > .material-operation {
  flex: 1 1 10%;
}
.main-material-query > .material-query-header > .material-operation button {
  display: block;
}
.main-material-query > .material-query-header > .material-operation button:last-child {
  margin-top: 10px;
}
.main-material-query > .material-list {
  flex: 1 1 720px;
  padding: 10px 20px 10px 20px;
}
/*
    material_modify css
*/
.main-material-modify {
  height: 600px;
  display: flex;
  flex-direction: column;
}
.main-material-modify .input-lg {
  width: 436px;
  height: 30px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.main-material-modify .bar {
  flex: 1 1 40px;
  padding-left: 20px;
  display: inline-block;
}
.main-material-modify > .material-info {
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
}
.main-material-modify > .material-inventory {
  flex: 1 1 150px;
  display: flex;
  flex-direction: column;
}
.main-material-modify > .material-modify-submit {
  flex: 1 1 100px;
}
.main-material-modify > .material-modify-submit > .bar {
  padding-left: 40px;
}
.main-material-modify > .material-modify-submit > .bar > button {
  margin-right: 20px;
}
/*
    material_supplier css
*/
.main-material-supplier {
  height: 800px;
  display: flex;
  flex-direction: column;
}
.main-material-supplier > .material-supplier-header {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1 1 80px;
  display: flex;
  flex-direction: row;
}
.main-material-supplier > .material-supplier-header > .supplier-query-info {
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
}
.main-material-supplier > .material-supplier-header > .supplier-query-info .bar {
  flex: 1 1 40px;
  padding-left: 20px;
  display: inline-block;
}
.main-material-supplier > .material-supplier-header > .supplier-query-info .btn-query {
  margin-left: 40px;
}
.main-material-supplier > .material-supplier-header > .supplier-operation {
  flex: 1 1 10%;
}
.main-material-supplier > .material-supplier-header > .supplier-operation button {
  display: block;
}
.main-material-supplier > .material-list {
  flex: 1 1 720px;
  padding: 10px 20px 10px 20px;
}
#modal-supplier-add .modal-body {
  display: flex;
  flex-direction: column;
}
#modal-supplier-add .modal-body .bar {
  flex: 1 1 50px;
  padding: 5px 10px 5px 10px;
}
#modal-supplier-add .modal-body .input-lg {
  width: 434px;
  height: 30px;
}
