label {
  font-size: 16px;
}
/*
    production-order_list css
*/
.main-production-order-list {
  height: 800px;
  display: flex;
  flex-direction: column;
}
.main-production-order-list > .production-order-query-header {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 1 1 120px;
  display: flex;
  flex-direction: row;
}
.main-production-order-list > .production-order-query-header > .query-info {
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
}
.main-production-order-list > .production-order-query-header > .query-info .bar {
  flex: 1 1 40px;
  padding-left: 20px;
  display: inline-block;
}
.main-production-order-list > .production-order-query-header > .query-info .btn-query {
  margin-left: 40px;
}
.main-production-order-list > .production-order-query-header > .production-order-operation {
  flex: 1 1 10%;
}
.main-production-order-list > .production-order-query-header > .production-order-operation button {
  display: block;
}
.main-production-order-list > .production-order-query-header > .production-order-operation button:last-child {
  margin-top: 10px;
}
.main-production-order-list > .production-order-list {
  flex: 1 1 720px;
  padding: 10px 20px 10px 20px;
}
