label {
    margin: 8px;
    width: 100px;
    font-size: 12px;
    font-weight: 300;
}
input {
    width: 150px;
    height: 30px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="radio"] {
    width: 15px;
    height: 15px;
}
select {
    width: 150px;
    height: 30px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
th {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
}
td {
    text-align: center;
    font-weight: 400;
}
.btn-save {
    color: #fff;
    background-color: #337ab7;
}
.btn-query {
    color: #fff;
    background-color: #337ab7;
}
.btn-add {
    color: #fff;
    background-color: #f0ad4e;
}
.btn-modify {
    color: #fff;
    background-color: #31b0d5;
}
/*
    repertory-control-records_query css
*/
.main-repertory-control-records-query {
    height: 800px;
    display: flex;
    flex-direction: column;
}
.main-repertory-control-records-query > .repertory-control-records-query-header {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 1 120px;
    display: flex;
    flex-direction: row;
}
.main-repertory-control-records-query > .repertory-control-records-query-header > .query-info {
    flex: 1 1 90%;
    display: flex;
    flex-direction: column;
}
.main-repertory-control-records-query > .repertory-control-records-query-header > .query-info .bar {
    flex: 1 1 40px;
    padding-left: 20px;
    display: inline-block;
}
.main-repertory-control-records-query > .repertory-control-records-query-header > .query-info .bar input{
    width: 123px;
    height: 30px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.main-repertory-control-records-query > .repertory-control-records-query-header > .query-info .btn-query {
    margin-left: 40px;
}
.main-repertory-control-records-query > .repertory-control-records-query-header > .repertory-control-records-operation {
    flex: 1 1 10%;
}
.main-repertory-control-records-query > .repertory-control-records-query-header > .repertory-control-records-operation button {
    display: block;
}
.main-repertory-control-records-query > .repertory-control-records-query-header > .repertory-control-records-operation button:last-child {
    margin-top: 10px;
}
.main-repertory-control-records-query > .repertory-control-records-list {
    flex: 1 1 720px;
    padding: 10px 20px 10px 20px;
}
.main-repertory-control-records-query > .repertory-control-records-list > .repertory-control-records-table {
    border-top: 2px solid #3c8dbc;
    background: #ffffff;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.main-repertory-control-records-query > .repertory-control-records-list > .repertory-control-records-table > nav {
    float: right;
    margin-right: 20px;
}

