/*
    user_manage css
*/
.main-system-user {
  height: 800px;
  display: flex;
  flex-direction: column;
}
.main-system-user > .system-user-header {
  padding-top: 5px;
  padding-bottom: 10px;
  flex: 1 1 120px;
  display: flex;
  flex-direction: row;
}
.main-system-user > .system-user-header > .user-query-info {
  padding-top: 35px;
  padding-bottom: 30px;
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
}
.main-system-user > .system-user-header > .user-query-info .bar {
  flex: 1 1 40px;
  padding-left: 20px;
  display: inline-block;
}
.main-system-user > .system-user-header > .user-query-info .btn-query {
  margin-left: 40px;
}
.main-system-user > .system-user-header > .user-operation {
  flex: 1 1 10%;
}
.main-system-user > .system-user-header > .user-operation button {
  display: block;
  margin: 0 5px 5px 10px;
}
.main-system-user > .user-list {
  flex: 1 1 720px;
  padding: 10px 20px 10px 20px;
}
#modal-user .modal-body {
  display: flex;
  flex-direction: column;
}
#modal-user .modal-body .bar {
  flex: 1 1 50px;
  padding: 5px 10px 5px 10px;
}
#modal-user .modal-body .input-lg {
  width: 434px;
  height: 30px;
}
/*
    department_manage css
*/
.main-system-department {
  height: 800px;
  display: flex;
  flex-direction: column;
}
.main-system-department > .system-department-header {
  padding-top: 5px;
  padding-bottom: 5px;
  flex: 1 1 100px;
  display: flex;
  flex-direction: row;
}
.main-system-department > .system-department-header > .department-query-info {
  padding-top: 15px;
  flex: 1 1 90%;
  display: flex;
  flex-direction: column;
}
.main-system-department > .system-department-header > .department-query-info .bar {
  flex: 1 1 40px;
  padding-left: 20px;
  display: inline-block;
}
.main-system-department > .system-department-header > .department-operation {
  flex: 1 1 10%;
}
.main-system-department > .system-department-header > .department-operation button {
  display: block;
  margin: 10px 5px 5px 10px;
}
.main-system-department > .department-list {
  flex: 1 1 720px;
  padding: 10px 20px 10px 20px;
}
#modal-department .modal-body {
  display: flex;
  flex-direction: column;
}
#modal-department .modal-body .bar {
  flex: 1 1 50px;
  padding: 5px 10px 5px 10px;
}
#modal-department .modal-body .input-lg {
  width: 434px;
  height: 30px;
}
