/*
    material_add css
*/
.main-material-add{
    height:600px;
    display: flex;
    flex-direction: column;

    .input-lg{
        width:436px;
        height:30px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .bar{
        flex:1 1 40px;
        padding-left: 20px;
        display: inline-block;
    }

    > .material-info{
        flex:1 1 350px;
        display: flex;
        flex-direction: column;
    }

    > .material-inventory{
        flex:1 1 150px;
        display: flex;
        flex-direction: column;
    }

    > .material-add-submit{
        flex:1 1 100px;

        >.bar{
            padding-left: 40px;

            > button{
                margin-right: 20px;
            }
        }
    }
}

/*
    material_query css
*/
.main-material-query{
    height:800px;
    display: flex;
    flex-direction: column;

    > .material-query-header{
        padding-top: 20px;
        padding-bottom: 20px;
        flex:1 1 120px;
        display: flex;
        flex-direction: row;

        > .query-info{
            flex:1 1 90%;
            display: flex;
            flex-direction: column;

            .bar{
                flex:1 1 40px;
                padding-left: 20px;
                display: inline-block;
            }

            .btn-query{
                margin-left: 40px;
            }
        }

        > .material-operation{
            flex:1 1 10%;

            button{
                display: block;
            }
            button:last-child{
                margin-top: 10px;
            }
        }

    }

    > .material-list{
        flex:1 1 720px;
        padding: 10px 20px 10px 20px;
    }
}

/*
    material_modify css
*/
.main-material-modify{
    height:600px;
    display: flex;
    flex-direction: column;

    .input-lg{
        width:436px;
        height:30px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .bar{
        flex:1 1 40px;
        padding-left: 20px;
        display: inline-block;
    }

    > .material-info{
        flex:1 1 350px;
        display: flex;
        flex-direction: column;
    }

    > .material-inventory{
        flex:1 1 150px;
        display: flex;
        flex-direction: column;
    }

    > .material-modify-submit{
        flex:1 1 100px;

        >.bar{
            padding-left: 40px;

            > button{
                margin-right: 20px;
            }
        }
    }
}

/*
    material_supplier css
*/
.main-material-supplier{
    height:800px;
    display: flex;
    flex-direction: column;

    > .material-supplier-header{
        padding-top: 20px;
        padding-bottom: 20px;
        flex:1 1 80px;
        display: flex;
        flex-direction: row;

        > .supplier-query-info{
            flex:1 1 90%;
            display: flex;
            flex-direction: column;

            .bar{
                flex:1 1 40px;
                padding-left: 20px;
                display: inline-block;
            }

            .btn-query{
                margin-left: 40px;
            }
        }

        > .supplier-operation{
            flex:1 1 10%;

            button{
                display: block;
            }
        }

    }

    > .supplier-list{
        flex:1 1 720px;
        padding: 10px 20px 10px 20px;
    }
}

#modal-supplier-add{

    .modal-body{
        display: flex;
        flex-direction: column;
        .bar{
            flex:1 1 50px;
            padding: 5px 10px 5px 10px;
        }

        .input-lg{
            width:434px;
            height: 30px;
        }
    }
}
